<html>

<head>
    <title>Hello World</title>
</head>

<body>
    <button id="login">重新登陆</button>
    <ul id="result"></ul>
    <script>
        document.getElementById('login').addEventListener('click', function () {

            let resultEl = document.getElementById('result')
            resultEl.innerHTML = '正在登陆...'

            //使用EventSource访问服务器端事件
            let source = new EventSource('/auto')
            source.onmessage = function (event) {
                resultEl.innerHTML += "<li>" + event.data + "</li>";
                if (event.data === 'done') {
                    source.close()
                }
            };

            source.onerror = function (event) {
                resultEl.innerHTML += '<li>EventSource failed</li>';
                source.close()
            };
            // fetch('/auto')
            //     .then(res => {
            //         res.text().then(text => {
            //             resultEl.innerHTML = text;
            //         })
            //     })
            //     .catch(err => {
            //         console.log(err);
            //         resultEl.innerHTML = err.message;
            //     })

        });
    </script>
</body>

</html>